[submodule "airline"]
	path = airline
	url = https://github.com/bling/vim-airline.git
[submodule "bufexplorer"]
	path = bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "ag.vim"]
	path = ag.vim
	url = https://github.com/rking/ag.vim
[submodule "vim-ctrlspace"]
	path = vim-ctrlspace
	url = https://github.com/szw/vim-ctrlspace.git
